.home-layout-section {
    padding-bottom: 75px;
    scroll-margin-top: 20px;
    background-color: #a4def7;
    width: 100%;
}
.intro {
    padding-top: 10%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.intro h2 {
    font-weight: 750;
    font-size: 3.5rem;  
}
.intro p {
    font-size: large;
    margin-bottom: 25px;
}
.intro img {
    margin-right: 15px;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
}