.container {
    margin-left: auto;
    margin-right: auto;
}
.section-one {
    /* background-color: #f7f6f1; */
    background-color: #fff;
}
.section-two {
    background-color: #fff;
}
.home-intro-section {
    max-width: 1200px;
    padding-bottom: 75px;
    scroll-margin-top: 10px;
    /* background-color: #a4def7; */
    /* background-color: #f7f6f1; */
    margin: 0 auto;
}
.intro {
    max-width: 90%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.intro h2 {
    margin-top: 50px;
    font-size: 52px;
    line-height: 58px;
    font-weight: 600;
    /* margin: 0.67em 0;  */
}
.intro p {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 30px;
}
.intro img {
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50%;
    vertical-align: middle;
    display: inline-block;
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.home-how-it-works-section {
    padding-bottom: 50px;
    /* background-color: #ffffff; */
    width: 100%;
}
.how-it-works {
    padding-top: 10%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.how-it-works {
    padding-top: 10%;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.how-it-works img {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0 20px;
    /* border-style: solid; */
}