.home-layout-section {
    padding-bottom: 75px;
    scroll-margin-top: 20px;
    background-color: #a4def7;
    width: 100%;
}
.intro {
    padding-top: 10%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.intro h2 {
    font-weight: 750;
    font-size: 3.25rem;  
}
.intro p {
    font-size: large;
    margin-bottom: 25px;
}
