/* navbar styles */
.navbar {
    width: 100%;
    background: none;
    padding: 20px 10px;
    box-sizing: border-box;
    overflow-y: visible;
}
.navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    align-items: center;
}
.title {
    margin-right: auto;
}
.navbar button {
    margin-left: 3px;
    margin-right: 3px;
}
.navbar a {
  margin-right: 15px;
  color: #333;
  text-decoration: none;
  padding: 1px;
  box-sizing: border-box;
}
.dropdown-container {
  display: block;
}