/* navbar styles */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: transparent; */
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
  display: block;
}
.container {
  padding-inline: 15px;
  max-width: 1200px;
  margin-inline: auto;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative;
  float: left;
}
.navbar {
    display: flex;
    position: relative;
    float: right;
    align-items: center;
}
.nav-link {
    padding-right: 20px;
    padding-left: 20px;
    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color;
    font-weight: 500;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    text-align: left;
    margin-inline: auto;
    box-sizing: border-box;
}
.nav-link:hover {
  color: #F39C12
}
.navbar button {
    margin-left: 25px;
    margin-right: 3px;
}
.navbar a {
  background-color: transparent;
}
.dropdown-container {
  display: block;
  border-style: none;
}